body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  background-color: gold;
  width: 100px;
  height: 100px;
}
.box:hover {
  background-color: orangered;
  transform: rotate(45deg) scale(1.5) skew(15deg) translate(20px);
}
